<div id="index_content">
  <!-- logo -->
  <%= link_to image_tag("fresh/logo9.png"), {action: 'index', controller: 'top'} %>
  <!-- search bar -->  
  <%= form_tag({controller: "foods", action: "index"}, method: "get", class: "index_searchBar") do %>
    <%= text_field_tag(:search_food_name) %>
    <%= submit_tag("Search", class: "btn btn-primary") %>
  <% end %>
  <!-- or -->
  <div id="index_or">or</div>
</div>

<!-- category buttons -->
<div class="container text-center">
  <%= form_tag({controller: "foods", action: "index"}, method: "get", class: "index_category") do %>
    <div class="row">
      <!-- meat -->
      <div class="col-sm-3 col-xs-6 container_overlay">
        <%= image_submit_tag("fresh/meat.jpg", class: 'img-responsive meat_color_dark', name: 'search_category_id', value: 2) %>
        <!-- button animation -->
        <div class="overlay meat_bg_color_dark">
          <div class="text_overlay">Meat</div>
        </div>
      </div>
      <!-- vegetable -->
      <div class="col-sm-3 col-xs-6 container_overlay">
        <%= image_submit_tag("fresh/vege.jpg", class: 'img-responsive vege_color_dark', name: 'search_category_id', value: 1) %>
        <!-- button animation -->
        <div class="overlay vege_bg_color_dark">
          <div class="text_overlay">Vegetable</div>
        </div>
      </div>
      <!-- dairy -->
      <div class="col-sm-3 col-xs-6 container_overlay">
        <%= image_submit_tag("fresh/dairy.jpg", class: 'img-responsive dairy_color_dark', name: 'search_category_id', value: 3) %>
        <!-- button animation -->
        <div class="overlay dairy_bg_color_dark">
          <div class="text_overlay">Dairy</div>
        </div>
      </div>
      <!-- all -->
      <div class="col-sm-3 col-xs-6 container_overlay">
        <%= image_submit_tag("fresh/allfood.jpg", class: 'img-responsive all_color_dark', name: 'food_search_form_category_id', value: 0) %>
        <!-- button animation -->
        <div class="overlay all_bg_color_dark">
          <div class="text_overlay">All</div>
        </div>
      </div>
    </div>
  <% end %>
</div>
