<!-- specific meta --> 
<% set_meta_tags title: 'Contact page' %>
<% set_meta_tags description: 'Contact us through email' %>

<!-- title -->
<% @title = "Contact page" %>

<!-- navigation bar -->  
<%= render "/nav" %>

<!-- content -->
<div id="mainContact">
  <div id="titleContact">Contact Form</div>
  
  <!-- form -->
  <%= form_for @contact do |f| %>
    <!-- name -->
    <div class="error"><%= @contact.errors.messages[:name][0] if @contact.errors.messages[:name].present? %></div>
    <%= f.text_field :name, :class => "form-control", :id => "txtName", :placeholder => "Enter name" %>
    <!-- email -->
    <div class="error"><%= @contact.errors.messages[:email][0] if @contact.errors.messages[:email].present? %></div>
    <%= f.email_field :email, :class => "form-control", :id => "txtEmail", :placeholder => "Enter email" %>       
    <!-- subject -->
    <div class="error"><%= @contact.errors.messages[:subject][0] if @contact.errors.messages[:subject].present? %></div>
    <%= f.text_field :subject, :class => "form-control", :id => "txtSubject", :placeholder => "Enter subject" %>       
    <!-- message -->
    <div class="error"><%= @contact.errors.messages[:message][0] if @contact.errors.messages[:message].present? %></div>
    <%= f.text_area :message, :class => "form-control", :id => "taMessage", :placeholder => "Enter message", :rows => "4" %>       
    <!-- send button -->
    <div id="sendButtonArea"><%= f.submit "Send", :class => "btn btn-primary", :id => "sendButton" %></div>                    
  <% end %>
  
  <!-- address -->
  <%= image_tag("house.png") %>
  <%= image_tag("house.png") %>
  <%= image_tag("house.png") %>
  <div id="address">477 Howard Ave, Burnaby,<br>BC V5B 3P9</div>

  <!-- map -->
  <div style='width: 100%;'>
    <div id="map"></div> 
  </div> 
            
</div>
