<!-- specific meta --> 
<% set_meta_tags title: 'Search result page' %>
<% set_meta_tags description: 'Display search result items of food preservation method with two search functions' %>

<!-- title -->
<% @title = "Search page" %>

<!-- navigation bar -->  
<%= render "fresh/shared/nav" %>

<!-- search bar -->
<%= render 'search_form' %>

<!-- results -->
<div class="container" id="results-table">
  <div class="row">
    <% @foods.each do |food| %>
      <% p = FoodSearchPresenter.new(food, self) %>
      <div class="col-md-3 col-sm-4 col-xs-6 result-item">
        <table>
          <tr>
            <td>
              <%= link_to image_tag("/food-images/#{food.picture}", class: 'img-responsive'), {controller: 'foods', action: 'show', id: food.id} %>
            </td>
          </tr>
          <%= p.food_name_block %>
          <%= p.food_period_block %>
        </table>
      </div>
    <% end %>
  </div>
</div>
